<div ng-switch on="photo.type" class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="photo in images">
    <a ng-switch-when="image" href="#/gallery-zoom/{{galleryId}}/{{photo.index}}" class="thumbnail">
    		<img ng-src="{{photo.thumbnail}}" align="middle" zoomable/>
    </a>
</div>

<!-- <ul class="gallery">
  <li ng-repeat="photo in images" class="mythumbnail">
    <a href="#/gallery-zoom/{{galleryId}}/{{photo.index}}">
    	<img ng-src="{{photo.thumbnail}}" align="middle" zoomable/>
    </a>
  </li>
</ul>
 -->