<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <div ng-switch on="image.type">
      <img ng-switch-when="image" ng-src="/galleries/{{image.gallery_id}}/photos/{{image.path}}" class="img-fit center-block" />
<!--       <video ng-switch-when="video" width="320" height="240" controls>
        <source src="{{image.src}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
 -->    </div>
    <div class="arrows">
      <a ng-click="prev()">
        <img src="img/left-arrow.png" />
      </a>
      <a ng-click="next()">
        <img src="img/right-arrow.png" />
      </a>
      <favorite image="image"/>
    </div>
  </div>
</div>
